<center><h1>Homework Assignment #1</h1></center>
<table width="100%">
    <tr>
        <td><img src="../images/img0.jpg" /></td>
    </tr>
</table>

- To explore the basic data manipulation verbs of `dplyr`, we’ll use `nycflights13::flights`. 
- This data frame contains all 336,776 flights that departed from New York City in 2013.

In [1]:
library("nycflights13")
library("tidyverse")
library("tidyselect")

head(flights)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.1 ──

✔ ggplot2 3.3.5     ✔ purrr   0.3.4
✔ tibble  3.1.6     ✔ dplyr   1.0.7
✔ tidyr   1.2.0     ✔ stringr 1.4.0
✔ readr   2.1.2     ✔ forcats 0.5.1

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

The `Conflicts` are not a problem for this homework. They should be fixed for future-proofing, however.

In [4]:
packageVersion("tidyverse")
packageVersion("tidyselect")

[1] ‘1.3.1’

[1] ‘1.1.1’

In [5]:
# Convert to dataframe for easier handling
df = as.data.frame(flights)
head(df)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

1. Find all flights that:
    1. Had an arrival delay of two or more hours
    2. Flew to Houston (IAH or HOU)
    3. Were operated by United, American, or Delta
    4. Departed in summer (July, August, and September)
    5. Arrived more than two hours late, but didn’t leave late
    6. Were delayed by at least an hour, but made up over 30 minutes in flight

In [6]:
# A. Had an arrival delay of two or more hours
head(filter(df, arr_delay >= 120))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    811      630           101       1047      830
2 2013 1     1    848     1835           853       1001     1950
3 2013 1     1    957      733           144       1056      853
4 2013 1     1   1114      900           134       1447     1222
5 2013 1     1   1505     1310           115       1638     1431
6 2013 1     1   1525     1340           105       1831     1626
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 137       MQ      4576   N531MQ  LGA    CLT  118       544      6   30
2 851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
3 123       UA       856   N534UA  EWR    BOS   37       200      7   33
4 145       UA      1086   N76502  LGA    IAH  248      1416      9    0
5 127       EV      4497   N17984  EWR    RIC   63       277     13   10
6 125       B6       525   N231JB  EWR    MCO  152       937     13   40
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 18:00:00
3 2013-01-01 07:00:00
4 2013-01-01 09:00:00
5 2013-01-01 13:00:00
6 2013-01-01 13:00:00

In [7]:
# B. Flew to Houston (IAH or HOU)
head(filter(df, dest == 'IAH' | dest == 'HOU'))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   623      627            -4         933      932
4 2013 1     1   728      732            -4        1041     1038
5 2013 1     1   739      739             0        1104     1038
6 2013 1     1   908      908             0        1228     1219
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 11        UA      1545   N14228  EWR    IAH  227      1400     5    15
2 20        UA      1714   N24211  LGA    IAH  227      1416     5    29
3  1        UA       496   N459UA  LGA    IAH  229      1416     6    27
4  3        UA       473   N488UA  LGA    IAH  238      1416     7    32
5 26        UA      1479   N37408  EWR    IAH  249      1400     7    39
6  9        UA      1220   N12216  EWR    IAH  233      1400     9     8
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 06:00:00
4 2013-01-01 07:00:00
5 2013-01-01 07:00:00
6 2013-01-01 09:00:00

In [9]:
# C. Were operated by United, American, or Delta
head(unique(df[c("carrier")])) #UA is United, AA is American, DL is Delta

head(filter(df, carrier == 'UA' | carrier == 'AA' | carrier == 'DL'))

   carrier
1  UA
3  AA
4  B6
5  DL
8  EV
19 MQ

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2        830      819
2 2013 1     1   533      529             4        850      830
3 2013 1     1   542      540             2        923      850
4 2013 1     1   554      600            -6        812      837
5 2013 1     1   554      558            -4        740      728
6 2013 1     1   558      600            -2        753      745
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
5  12       UA      1696   N39463  EWR    ORD  150       719     5    58
6   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 06:00:00
5 2013-01-01 05:00:00
6 2013-01-01 06:00:00

In [10]:
# D. Departed in summer (July, August, and September)
head(filter(df, month == 7 | month == 8 | month == 9))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     1    1       2029           212       236      2359
2 2013 7     1    2       2359             3       344       344
3 2013 7     1   29       2245           104       151         1
4 2013 7     1   43       2130           193       322        14
5 2013 7     1   44       2150           174       300       100
6 2013 7     1   46       2051           235       304      2358
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 157       B6       915   N653JB  JFK    SFO  315      2586     20   29
2   0       B6      1503   N805JB  JFK    SJU  200      1598     23   59
3 110       B6       234   N348JB  JFK    BTV   66       266     22   45
4 188       B6      1371   N794JB  LGA    FLL  143      1076     21   30
5 120       AA       185   N324AA  JFK    LAX  297      2475     21   50
6 186       B6       165   N640JB  JFK    PDX  304      2454     20   51
  time_hour
1 2013-07-01 20:00:00
2 2013-07-01 23:00:00
3 2013-07-01 22:00:00
4 2013-07-01 21:00:00
5 2013-07-01 21:00:00
6 2013-07-01 20:00:00

In [11]:
# E. Arrived more than two hours late, but didn’t leave late
head(filter(df, dep_delay <= 0 & arr_delay >= 120))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    27  1419     1420           -1        1754     1550
2 2013 10     7  1350     1350            0        1736     1526
3 2013 10     7  1357     1359           -2        1858     1654
4 2013 10    16   657      700           -3        1258     1056
5 2013 11     1   658      700           -2        1329     1015
6 2013  3    18  1844     1847           -3          39     2219
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 124       MQ      3728   N1EAMQ  EWR    ORD  135       719     14   20
2 130       EV      5181   N611QX  LGA    MSN  117       812     13   50
3 124       AA      1151   N3CMAA  LGA    DFW  192      1389     13   59
4 122       B6         3   N703JB  JFK    SJU  225      1598      7    0
5 194       VX       399   N629VA  JFK    LAX  336      2475      7    0
6 140       UA       389   N560UA  JFK    SFO  386      2586     18   47
  time_hour
1 2013-01-27 14:00:00
2 2013-10-07 13:00:00
3 2013-10-07 13:00:00
4 2013-10-16 07:00:00
5 2013-11-01 07:00:00
6 2013-03-18 18:00:00

In [12]:
# F. Were delayed by at least an hour, but made up over 30 minutes in flight
head(filter(df, dep_delay >= 30, dep_delay - arr_delay > 30))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    909      810            59       1331     1315
2 2013 1     1   1025      951            34       1258     1302
3 2013 1     1   1625     1550            35       2054     2050
4 2013 1     1   2205     1720           285         46     2040
5 2013 1     1   2326     2130           116        131       18
6 2013 1     2    727      645            42       1024     1028
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  16       AA       655   N5EXAA  JFK    STT  184      1623      8   10
2  -4       UA       501   N437UA  EWR    MCO  137       937      9   51
3   4       AA      1635   N630AA  JFK    SJU  188      1598     15   50
4 246       AA      1999   N5DNAA  EWR    MIA  146      1085     17   20
5  73       B6       199   N594JB  JFK    LAS  290      2248     21   30
6  -4       UA       277   N820UA  EWR    SNA  338      2434      6   45
  time_hour
1 2013-01-01 08:00:00
2 2013-01-01 09:00:00
3 2013-01-01 15:00:00
4 2013-01-01 17:00:00
5 2013-01-01 21:00:00
6 2013-01-02 06:00:00

2. How many flights have a missing `dep_time`? What other variables are missing? What might these rows represent?

In [13]:
# 8255 missing values for 'dep_time'
sum(is.na(df$dep_time))

[1] 8255

In [14]:
# Missing values for all variables:
colSums(is.na(df) )

#'dep_time', 'dep_delay', 'arr_time', 'arr_delay', 'tailnum', 'air_time' all have missing values. 
# This could point towards that the missing values are cancelled flights.

          year          month            day       dep_time sched_dep_time
             0              0              0           8255              0
     dep_delay       arr_time sched_arr_time      arr_delay        carrier
          8255           8713              0           9430              0
        flight        tailnum         origin           dest       air_time
             0           2512              0              0           9430
      distance           hour         minute      time_hour
             0              0              0              0

3. How could you use `arrange()` to sort all missing values to the start? (Hint: use is.na().)

In [23]:
flights %>% 
    arrange(desc(is.na(dep_time)),
           desc(is.na(dep_delay)),
           desc(is.na(arr_time)), 
           desc(is.na(arr_delay)),
           desc(is.na(tailnum)),
           desc(is.na(air_time))) %>%
    head()

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     2   NA       1545           NA        NA       1910
2 2013 1     2   NA       1601           NA        NA       1735
3 2013 1     3   NA        857           NA        NA       1209
4 2013 1     3   NA        645           NA        NA        952
5 2013 1     4   NA        845           NA        NA       1015
6 2013 1     4   NA       1830           NA        NA       2044
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 NA        AA       133   NA      JFK    LAX  NA       2475     15   45
2 NA        UA       623   NA      EWR    ORD  NA        719     16    1
3 NA        UA       714   NA      EWR    MIA  NA       1085      8   57
4 NA        UA       719   NA      EWR    DFW  NA       1372      6   45
5 NA        9E      3405   NA      JFK    DCA  NA        213      8   45
6 NA        9E      3716   NA      EWR    DTW  NA        488     18   30
  time_hour
1 2013-01-02 15:00:00
2 2013-01-02 16:00:00
3 2013-01-03 08:00:00
4 2013-01-03 06:00:00
5 2013-01-04 08:00:00
6 2013-01-04 18:00:00

4. Sort flights to find the fastest flights.

In [17]:
head(arrange(df, air_time))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013  1    16  1355     1315            40       1442     1411
2 2013  4    13   537      527            10        622      628
3 2013 12     6   922      851            31       1021      954
4 2013  2     3  2153     2129            24       2247     2224
5 2013  2     5  1303     1315           -12       1342     1411
6 2013  2    12  2123     2130            -7       2211     2225
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  31       EV      4368   N16911  EWR    BDL  20       116      13   15
2  -6       EV      4631   N12167  EWR    BDL  20       116       5   27
3  27       EV      4276   N27200  EWR    BDL  21       116       8   51
4  23       EV      4619   N13913  EWR    PHL  21        80      21   29
5 -29       EV      4368   N13955  EWR    BDL  21       116      13   15
6 -14       EV      4619   N12921  EWR    PHL  21        80      21   30
  time_hour
1 2013-01-16 13:00:00
2 2013-04-13 05:00:00
3 2013-12-06 08:00:00
4 2013-02-03 21:00:00
5 2013-02-05 13:00:00
6 2013-02-12 21:00:00

5. Which flights traveled the longest? Which traveled the shortest?

In [18]:
# Longest distance
head(arrange(df, desc(distance)))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    857     900            -3        1516     1530
2 2013 1     2    909     900             9        1525     1530
3 2013 1     3    914     900            14        1504     1530
4 2013 1     4    900     900             0        1516     1530
5 2013 1     5    858     900            -2        1519     1530
6 2013 1     6   1019     900            79        1558     1530
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 -14       HA      51     N380HA  JFK    HNL  659      4983     9    0
2  -5       HA      51     N380HA  JFK    HNL  638      4983     9    0
3 -26       HA      51     N380HA  JFK    HNL  616      4983     9    0
4 -14       HA      51     N384HA  JFK    HNL  639      4983     9    0
5 -11       HA      51     N381HA  JFK    HNL  635      4983     9    0
6  28       HA      51     N385HA  JFK    HNL  611      4983     9    0
  time_hour
1 2013-01-01 09:00:00
2 2013-01-02 09:00:00
3 2013-01-03 09:00:00
4 2013-01-04 09:00:00
5 2013-01-05 09:00:00
6 2013-01-06 09:00:00

In [19]:
# Shortest distance
head(arrange(df, distance))

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 7     27    NA      106            NA         NA      245
2 2013 1      3  2127     2129            -2       2222     2224
3 2013 1      4  1240     1200            40       1333     1306
4 2013 1      4  1829     1615           134       1937     1721
5 2013 1      4  2128     2129            -1       2218     2224
6 2013 1      5  1155     1200            -5       1241     1306
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  NA       US      1632   NA      EWR    LGA  NA       17        1    6
2  -2       EV      3833   N13989  EWR    PHL  30       80       21   29
3  27       EV      4193   N14972  EWR    PHL  30       80       12    0
4 136       EV      4502   N15983  EWR    PHL  28       80       16   15
5  -6       EV      4645   N27962  EWR    PHL  32       80       21   29
6 -25       EV      4193   N14902  EWR    PHL  29       80       12    0
  time_hour
1 2013-07-27 01:00:00
2 2013-01-03 21:00:00
3 2013-01-04 12:00:00
4 2013-01-04 16:00:00
5 2013-01-04 21:00:00
6 2013-01-05 12:00:00

6. What does the `all_of()` and the `any_of()` functions do? Why might they be helpful in conjunction with this vector?
> `vars <- c("year", "month", "day", "dep_delay", "arr_delay")`

In [20]:
vars <- c("year", "month", "day", "dep_delay", "arr_delay")

In [22]:
# Your solution.
df %>% select(all_of(vars)) %>% head()

  year month day dep_delay arr_delay
1 2013 1     1    2         11
2 2013 1     1    4         20
3 2013 1     1    2         33
4 2013 1     1   -1        -18
5 2013 1     1   -6        -25
6 2013 1     1   -4         12

7. What does the sort argument to count() do? When might you use it?

In [24]:
# The sort argument is boolean and if TRUE will show the largest groups at the top. 
# So useful if we are most interested in the high numbers for a given group. sort = FALSE
# (default) does not sort at all
df %>% count(carrier, sort = TRUE) %>% head()

df %>% count(carrier, sort = FALSE) %>% head()

  carrier n
1 UA      58665
2 B6      54635
3 EV      54173
4 DL      48110
5 AA      32729
6 MQ      26397

  carrier n
1 9E      18460
2 AA      32729
3 AS        714
4 B6      54635
5 DL      48110
6 EV      54173

8. What time of day should you fly if you want to avoid delays as much as possible?

In [25]:
# From output below we see that flying at 7 AM has the lowest delays on average
df %>% group_by(hour) %>% summarize(Mean = mean(arr_delay, na.rm=TRUE)) %>% arrange(Mean) %>% head()

  hour Mean
1  7   -5.3044716
2  5   -4.7969072
3  6   -3.3844854
4  9   -1.4514074
5  8   -1.1132266
6 10    0.9539401

9. For each destination, compute the total minutes of delay. For each flight, compute the proportion of the total delay for its destination.

In [29]:
# Your solution.
df %>% 
filter(arr_delay >0) %>% #include only delayed flight
group_by(dest) %>% 
mutate(arr_delay_tot = sum(arr_delay),
      arr_delay_prop = arr_delay / arr_delay_tot) %>% 
select(dest, month, day, dep_time, carrier, flight, #select only some variables for readability of table
       arr_delay, arr_delay_tot, arr_delay_prop) %>%
arrange(dest, desc(arr_delay_prop))

       dest month day dep_time carrier flight arr_delay arr_delay_tot
1      ABQ   7    22  2145     B6      1505   153       4487
2      ABQ  12    14  2223     B6        65   149       4487
3      ABQ  10    15  2146     B6        65   138       4487
4      ABQ   7    23  2206     B6      1505   137       4487
5      ABQ  12    17  2220     B6        65   136       4487
6      ABQ   7    10  2025     B6      1505   126       4487
7      ABQ   7    30  2212     B6      1505   118       4487
8      ABQ   7    28  2038     B6      1505   117       4487
9      ABQ  12     8  2049     B6        65   114       4487
10     ABQ   9     2  2212     B6      1505   109       4487
11     ABQ  12    10  2044     B6        65   108       4487
12     ABQ   5    10  2158     B6      1505   105       4487
13     ABQ   6    27  2007     B6      1505   103       4487
14     ABQ   8     9  2159     B6      1505    98       4487
15     ABQ   9    12  2147     B6        65    97       4487
16     ABQ   5     8  2118     B6      1505    94       4487
17     ABQ   7     7  2040     B6      1505    86       4487
18     ABQ  12    15  2140     B6        65    80       4487
19     ABQ   8     8  2055     B6      1505    76       4487
20     ABQ   5    22  2001     B6      1505    72       4487
21     ABQ   4    24  2037     B6      1505    70       4487
22     ABQ   6    23  2007     B6      1505    67       4487
23     ABQ   6    13  2104     B6      1505    64       4487
24     ABQ   9    16  2134     B6        65    64       4487
25     ABQ   6     8  2148     B6      1505    61       4487
26     ABQ   9    13  2107     B6        65    59       4487
27     ABQ  12     9  2023     B6        65    57       4487
28     ABQ  12    29  2022     B6        65    56       4487
29     ABQ   8     4  2124     B6      1505    55       4487
30     ABQ  12    19  2102     B6        65    54       4487
⋮      ⋮    ⋮     ⋮   ⋮        ⋮       ⋮      ⋮         ⋮
132975 XNA  10    24  1514     MQ      3532   3         15547
132976 XNA  11    13  1749     MQ      3713   3         15547
132977 XNA  12     1  1517     MQ      3553   3         15547
132978 XNA   2    25   802     EV      4315   3         15547
132979 XNA   2    25  1523     MQ      4525   3         15547
132980 XNA   5     7  1543     MQ      4525   3         15547
132981 XNA   7    25   659     MQ      3547   3         15547
132982 XNA   8     5   837     EV      4419   3         15547
132983 XNA   8    15  1753     MQ      3367   3         15547
132984 XNA   1    21  1739     MQ      4413   2         15547
132985 XNA   1    22  1521     MQ      4525   2         15547
132986 XNA  11     5   712     MQ      3547   2         15547
132987 XNA  11    18   719     MQ      3547   2         15547
132988 XNA   2     5  1736     MQ      4413   2         15547
132989 XNA   2    11  1522     MQ      4525   2         15547
132990 XNA   4     3   717     EV      4150   2         15547
132991 XNA   6    20  1522     MQ      3532   2         15547
132992 XNA   7    31  1524     MQ      3532   2         15547
132993 XNA   8     4   826     EV      6013   2         15547
132994 XNA   8     4  1746     MQ      3367   2         15547
132995 XNA   8     9   820     EV      4419   2         15547
132996 XNA   1    22  1737     MQ      4413   1         15547
132997 XNA   1    29  1744     MQ      4413   1         15547
132998 XNA  11     5  1748     MQ      3713   1         15547
132999 XNA  11    14  1521     MQ      3532   1         15547
133000 XNA   2    12   657     MQ      4534   1         15547
133001 XNA   3    24   837     EV      4691   1         15547
133002 XNA   4     3  1532     MQ      4525   1         15547
133003 XNA   6    26   805     EV      4419   1         15547
133004 XNA   8    12  1748     MQ      3367   1         15547
       arr_delay_prop
1      0.03409851
2      0.03320704
3      0.03075552
4      0.03053265
5      0.03030978
6      0.02808112
7      0.02629819
8      0.02607533
9      0.02540673
10     0.02429240
11     0.02406953
12     0.02340094
13     0.02295520
14     0.02184087
15     0.02161801
16     0.02094941
17     0.01916648
18     0.01782928
19     0.01693782
20     0.01604636
21     0.01560062
22     0.01493203
23     0.01426343
24     0.01426343
25     0.01359483
26     0.01314910
27     0.01270337
28     0.01248050
29     0.01225763
30     0.01203477
⋮      ⋮
132975 1.929633e-04
132976 1.929633e-04
132977 1.929633e-04
132978 1.929633e-04
132979 1.929633e-04
132980 1.929633e-04
132981 1.929633e-04
132982 1.929633e-04
132983 1.929633e-04
132984 1.286422e-04
132985 1.286422e-04
132986 1.286422e-04
132987 1.286422e-04
132988 1.286422e-04
132989 1.286422e-04
132990 1.286422e-04
132991 1.286422e-04
132992 1.286422e-04
132993 1.286422e-04
132994 1.286422e-04
132995 1.286422e-04
132996 6.432109e-05
132997 6.432109e-05
132998 6.432109e-05
132999 6.432109e-05
133000 6.432109e-05
133001 6.432109e-05
133002 6.432109e-05
133003 6.432109e-05
133004 6.432109e-05